.accordion-item {
    background-color: #2d2d2d;
    margin-bottom: 8px;
    transition: background-color 0.2s;
}

.accordion-item:hover {
    background-color: #414141;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.5, 0, 0.1, 1), padding 0.3s;
    background-color: #2d2d2d;
    border-top: 1px solid black;
}

.accordion-content.open {
    max-height: 1200px;
    padding: 24px;
}

.accordion-content p {
    font-size: 1.5rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .accordion-title {
        font-size: 1.125rem;
        padding: 16px;
    }

    .accordion-content p {
        font-size: 1.125rem;
        padding: 16px;
    }
}